// 調整文字
.fs-14{
    font-size: 14px;
}

.letter-spacing-8{
    letter-spacing: 8px;
}

.letter-spacing-12{
    letter-spacing: 12px;
}

.btn{
    border:0px;
    &:hover{
        background-color:$primary;
    }
}